.cover {
    margin-top: 60px;
}

.cover__section {
    max-width: var(--container-width-ms);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 90px;
}




/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ===================== */
@media screen and (max-width: 1024px) {
  
    .cover__section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 90px;
    }

    .cover__left {
        position: relative;
    }
    
    .cover__left h1{
        color: var(--color-white);
        font-size: 60px;
    }

    .cover__left img {
        position: absolute;
        top: 160px;
        right: 15px;
    }

    .cover__left p {
        color: var(--color-white);
        font-size: 14px;
        margin-top: 12px;
        line-height: 20px;
    }
    
    .cover__left button {
        background: linear-gradient(85.76deg, rgba(191, 196, 238, 0.0945738) -105.02%, #C367E6 10.94%, rgba(190, 206, 239, 0) 121.57%);
        border-radius: 5px;
        padding: 12px 52px;
        color: var(--color-links);
        font-size: 16px;
        margin-top: 12px;
        font-family: 'Space Grotesk', sans-serif;
    }
    
    .cover__numbers {
        display: flex;
        justify-content: space-between;
        color: var(--color-white);
        margin-top: 80px;
    }
    
    .cover__numbers h2 {
        font-size: 42px;
        
    }
    
    .cover__numbers p {
        margin-top: 0px;
        text-align: center;
        font-size: 14px;
    }
    
    .cover__right {
        display: flex;
        justify-content: end;
    }
    
    .cover__port {
        background-color: var(--color-secondary);
        width: 404px;
        height: 494px;
        border-radius: 10px;
        text-align: center;
        padding-top: 17px;
    }
    
    .cover__port .cover__port1 {
        width: 370px;
        
    }

    .cover__port2 {
        color: var(--color-white);
        padding: 10px 17px 0px 17px;
        display: flex;
        justify-content: space-between;
        place-items: flex-start;
    }

    .cover__port2 p {
        font-size: 14px;
    }


    .cover__port2--small-img img{
        margin-left: -10px;
    }

    .cover__port3 {
        display: flex;
        justify-content: space-between;
        padding: 4px 17px 0px;
    }

    .cover__port3 p {
        color: #545C71;
        font-size: 8px;
        text-align: center;
    }

    .cover__port3 h5 {
        margin-top: 4px;
        color: var(--color-white);
        font-size: 10px;
    }

    

}