.author {
    margin-top: 60px;
    margin-bottom: 60px;
}

.author__section {
    max-width: var(--container-width-ms);
    margin: auto;
}


/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ===================== */
@media screen and (max-width: 1024px) {
  
    .author__subtitle {
        color: #9C76B8;
        font-size: 18px;
        text-align: center;
    }

    .author__title {
        color: var(--color-white);
        font-size: 36px;
        text-align: center;
        margin-top: 30px;
    }

    .author__cards {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 30px;
    }

    .author__card {
        width: 288px;
        height: 63px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-secondary);  
        padding: 9px;
        border-radius: 5px;
    }

    .author__card-left {
        display: flex;
        align-items: center;
        column-gap: 7px;
    }

    .author__card-left p {
        color: var(--color-white);
        font-size: 8px;
    }

    .author__card-left h5 {
        color: var(--color-white);
        font-size: 8px;
        margin-top: 5px;
    }

    .author__card-right svg {
        color: var(--color-white);
        font-size: 20px;
        margin-right: 20px;
    }

    .author__button {
        display: flex;
        justify-content: center;
        margin-top: 45px;
    }

    .author__button button {
        color: var(--color-white);
        font-size: 15px;
        padding: 10px 25px;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid var(--color-white);
    }

}
