.supplier {
    margin-top: 100px;
}

.supplier__section {
    max-width: var(--container-width-md);
    margin: auto;
    display: flex;
    justify-content: center;
    column-gap: 41px;
}



/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ===================== */
@media screen and (max-width: 1024px) {
  
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ===================== */
@media screen and (max-width: 600px) {

    .supplier {
        margin-top: 60px;
    }
  
    .supplier__section {
        max-width: var(--container-width-ms);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }

}