.footer {
    margin-top: 160px;
    margin-bottom: 60px;
}

.footer__section {
    max-width: var(--container-width-ms);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 76px;
}

.footer__section-down {
    max-width: var(--container-width-ms);
    margin: auto;
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
}


/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ===================== */
@media screen and (max-width: 1024px) {

    .footer__left h3 {
        color: var(--color-white);
        font-size: 40px;
    }

    .footer__left p {
        color: var(--color-white);
        font-size: 16px;
        margin-top: 10px;
        font-weight: 100;
    }

    .social {
        margin-top: 20px;
    }

    .social ul {
        display: flex;
        column-gap: 23px;
    }

    .footer__right {
        display: flex;
        column-gap: 61px;
        color: var(--color-white);
    }

    .footer__right h4 {
        font-size: 20px;
    }

    .footer__right ul {
        margin-top: 10px;
    }

    .footer__right li {
        font-size: 16px;
        margin-top: 8px;
        font-weight: 100;
    }

    .footer__copyright p {
        color: #545C71;
        font-size: 14px;
    }

    .footer__terms ul {
        display: flex;
        column-gap: 31px;
        color: #545C71;
        font-size: 14px;
    }

}
