* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; /*Hace que el border y el padding pasen a formar parte del cálculo del ancho de la caja y no lo suman posteriormente.*/
  text-decoration: none; /*Quita los subrayados de una etiqueta <a></a>*/
  list-style: none; /*Quita la numeración o los guiones o puntes que salen en una etiqueta <li></li>*/
}

:root {
  --color-bg: #1C233D;
  --color-links: #E5E5E5;
  --color-white: #FFF;
  --color-black: #000;
  --color-secondary: #30384D;

  --container-width-ml: 86%; /*Desktop*/
  --container-width-md: 88%; /*Tablet*/
  --container-width-ms: 84%; /*Cellphone*/

}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--color-bg);
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ===================== */
@media screen and (max-width: 1024px) {
  
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ===================== */
@media screen and (max-width: 600px) {

}